APScheduler==3.10.4
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
Flask==3.0.3
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jplephem==2.22
MarkupSafe==3.0.1
mysql==0.0.3
mysql-connector-python==9.1.0
mysqlclient==2.2.4
numpy==1.21.6
packaging==24.1
pandas==1.3.5
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
sgp4==2.23
six==1.16.0
skyfield==1.45
skyfield-data==2.0.0
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
Werkzeug==3.0.4
